/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  margin: 1rem;
}

p {
  font-size: 32px;
  border: 1px solid;
  padding: 2rem;
}

i {
  color: blue;
}

.parole:nth-child(1) {
  transform: translateZ(200px);
  animation: parole 2s;
  transition: opacity 1s;
}

.parole:nth-child(2) {
  transform: translateZ(200px);
  animation: parole 4s;
  transition: opacity 2s;
}

.parole:nth-child(3) {
  transform: translateZ(200px);
  animation: parole 6s;
  transition: opacity 3s;
}

@keyframes parole {
  from {
    opacity: 0;
  }
}
